<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="App registration for WAD2 and ITECH">
    <meta name="author" content="David Manlove, Gerardo Aragon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>Rango App registration</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- Bootstrap theme -->
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">
  </head>

  <body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">Rango Registration</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
		  <ul class="nav navbar-nav">
			{% if user.is_authenticated %}
				<ul class="nav nav-pills pull-right">
				  <li class="active"><a href="{% url 'github' %}">Add/Modify GitHub URL</a></li>
				  <li><a href="{% url 'logout' %}?next=/regapp/">Logout</a></li>
				</ul>
			{% else %}
				<ul class="nav nav-pills pull-right">
				  <li class="active"><a href="{% url 'index' %}">Home</a></li>
				  <li><a href="{% url 'login' %}">Login</a></li>
				</ul>
			{% endif %}
		  </ul>
		</div><!--/.nav-collapse -->
	  </div>
	</nav>

	<div class="container theme-showcase" role="main">

      <div class="jumbotron">
        {% block body_block %}

        {% endblock %}
      </div>

	  <div class="page-header">
		<center><img src="{% static 'images/rango.jpg' %}" alt="Picture taken by https://www.flickr.com/photos/amyofbadgroove/"/>
		</center>
		</br>
		</br>
	  </div>

      <footer class="footer">
        <p><center>&copy; School of Computing Science -- University of Glasgow</center></p>
      </footer>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
