{% extends 'regapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}
{% block body_block %}
    {% if user.is_authenticated %}
        <h2 class="display-6">You are logged in!<br /></h2>
        <br />
        <br />
        <div>
          <p><a class="btn btn-lg btn-success" href="{% url 'github' %}" role="button">Add your GitHub URL!</a></p>
        </div>
    {% else %}
      {% if registered  %}
          <h2 class="display-6">Thank you for registering!<br /></h2>
          <br />
          <br />
          <div>
            <p><a class="btn btn-lg btn-success" href="{% url 'github' %}" role="button">Add your GitHub URL!</a></p>
          </div>
      {% else %}
          <h2 class="display-6">Register here!<br /></h2>
          <br />
          <br />
          <form id="user_form" method="post" action="{% url 'index' %}"
              enctype="multipart/form-data">
              {% csrf_token %}
              <!-- Display each form -->
              {{ user_form.as_p }}
              <!-- Provide a button to click to submit the form. -->
              <input type="submit" name="submit" value="Register" />
          </form>
      {% endif %}
    {% endif %}
{% endblock %}
